<h1><%= @place.name %></h1>

<ul>
    <% for dog in @place.posts %>
        <li>
            <%= dog.title %>, <%= dog.posted_on %>, <%= dog.description %>
        </li>
    <% end %>
</ul>

<a href="/posts/new?place_id=<%= @place.id %>">New post!</a>
<br></br>
<a href="/places">Back to all places</a>